/*diseño del menu*/
.menu-head{
    color: white;
    width: auto;
    height: 60px;
    background-color: black;
    display: flex;
    padding: 0 70px 0 0;
    justify-content: flex-end;
    align-items: center;
}

.menu-head li{
    display: inline-block;
    padding: 15px;
    align-content: center;
    
}

.menu-head a{
    text-decoration: none;
    color: white;
}

.pileta-img{
    width: 100%;
}

.integrantes-div{
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 45px 15px ;
    
    border: solid;
    border-radius: 5px;
    border-color: black;
    width: 25%;
}

.items{
    display: flex   ;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    
}

/*style of general data*/

.datos-maquina-lata{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.datos-maquina, .datos-lata{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    width: 35%;
    text-align: center;
}

.style-data-component{
    padding: 15px 0 15px 0;
    margin: 5px;
    width: 100%;
}

        /*styles of data lata*/
.label-data-lata{
    padding: 20px 0 5px 0;
}